In [8]:
import pandas as pd

In [9]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [10]:
df=pd.DataFrame(liste,columns=["veri1"])
df

  veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [12]:
import numpy as np

In [17]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[35, 23, 70],
       [65, 88, 60],
       [36, 94, 39]])

In [24]:
df1=pd.DataFrame(veriler, index=["satır1","satır2","satır3"], columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      35      23      70
satır2      65      88      60
satır3      36      94      39

In [26]:
veriler=[["kübra","taş",16],["rabia","akkuş",16]]
veriler

[['kübra', 'taş', 16], ['rabia', 'akkuş', 16]]

In [30]:
df2=pd.DataFrame(veriler,index=["ogrenci_1","ogrenci_2"],columns=["ad","soyad","yaş"])
df2

              ad  soyad  yaş
ogrenci_1  kübra    taş   16
ogrenci_2  rabia  akkuş   16